*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
}

.container-game{
  width: 100%;
  height: auto;
}

#start{
  margin: 2rem 0 2rem 0;
  padding: .5rem 2rem;
  background-color: transparent;
  border: 2px solid #0044ff;
  border-radius: 5px;
  transition: ease-out .5s;
  cursor: pointer;
}

#start:hover{
  box-shadow: inset 150px 0px 0px 0px #0044ff;
}

#gameBoard {
  margin-top: 1.5rem;
  background-color: #666;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
  margin-bottom: 1.5rem;
}

#gameBoard span {
  background-color: #232323;
  display: grid;
  place-content: center;
  font-size: 5rem;
  width: 18vw;
  height: 18vw;
  transition: .5s;
  max-width: 160px;
  max-height: 160px;
}

#gameBoard span:hover{
  box-shadow: inset 0px 0px 10px 3px #111;
}

#gameBoard span.win {
  color: #25a340;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 510px){
  #gameBoard span {
    width: 25vw;
    height: 25vw;
  }
  #gameBoard {
    gap: .3rem;
  }
}