*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-game{
  width: 100%;
  height: auto;
}

#gameBoard {
  background-color: #232323;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
  margin-bottom: 1.5rem;
}

#gameBoard span {
  background-color: #ddd;
  display: grid;
  place-content: center;
  font-size: 5rem;
  width: 18vw;
  height: 18vw;
}

#gameBoard span.win {
  background-color: #25a340;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 510px){
  #gameBoard span {
    width: 25vw;
    height: 25vw;
  }
  #gameBoard {
    gap: .3rem;
  }
}